{% if 'CentOS' in group_names %}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
127.0.1.1 {{ ansible_hostname }}
{% elif 'Ubuntu' in group_names %}
127.0.0.1 localhost
127.0.1.1 {{ ansible_hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
{% endif %}

{% for host in groups['all'] %}
{{ hostvars[host]['ansible_all_ipv4_addresses'] | list | ipaddr('192.168.0.0/24') | first }} {{ hostvars[host]['ansible_fqdn'] }} {{ hostvars[host]['ansible_hostname'] }}
{% endfor %
